<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Test Suite">

<listeners>

<listener class-name="Interview_Questions.itransform"></listener>

</listeners>

<test name ="practise">

<classes>

<class name="Interview_Questions.sampleTC_for_reRunfailedTC"/>


</classes>



</test>



</suite>